<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingyou5.module.user.dao.mapper.UresourceMapper">

 <insert id="add" parameterType="Uresource" keyProperty="uresourceId" useGeneratedKeys="true">
		insert into uresource(uresourceId,uresourceName,url,isMenu,rank,parentId,status) values (#{uresourceId},#{uresourceName},#{url},#{isMenu},#{rank},#{parentId},#{status});                     
  </insert>
  
  <select id="get" parameterType="integer" resultType="Uresource">
		select * from uresource where  uresourceId = #{uresourceId}	
  </select>
  
  <update id="update" parameterType="Uresource">
		update uresource set uresourceName=#{uresourceName} where uresourceId=#{uresourceId}
  </update>
  
  <delete id="del" parameterType="integer">
        delete from uresource where uresourceId=#{uresourceId}
  </delete> 
  
  <select id="listUroleIdsResUrl"  resultType="Uresource">
		select r.uroleId,re.url,re.isMenu,re.rank,re.parentId 
		from urole r,uresource re,urole_uresource rr 
		where r.uroleId=rr.uroleId and re.uresourceId=rr.uresourceId and
		      r.status=${@com.xingyou5.module.user.entity.Urole@STATUS_ABLE} and
		      re.status=${@com.xingyou5.module.user.entity.Uresource@STATUS_ABLE} 
  </select> 
  
  
  <select id="listNormalResources"  resultType="Uresource">
		select * from uresource r where r.status=${@com.xingyou5.module.user.entity.Uresource@STATUS_ABLE} 
  </select>
</mapper>