@CHARSET "UTF-8";
@IMPORT url("head.css");
/* -------------------------------------------------
 * register
 * -------------------------------------------------
*/
body{
	margin: 0;
	padding: 0;
}
.loginBody{
	margin: 0;
	padding: 0
}

.login {
	width: 100%;
	margin: 0px auto 0;
	height: 679px;
	background: url("../../images/pages/logregbg.png") no-repeat  center;
}

.inptCont{
	width: 960px;
	margin: 0 auto;
	padding-right: 0;
	height: 100%;
}

.login a {
	color: black;
}

.login a:hover {
	color: #ff5500;
}

.login_bd{
	float: right;
	width:422px;
	height:515px;
	background:url("../../images/pages/loginInputBg.png");
	margin-top: 75px;
}

.loginTip{
	text-align: center;
	color:#f8f9fb;
	font: normal normal 20px "微软雅黑";
	line-height: 52px;
}

.onError {
	position: absolute;
	top: -23px;
	right: 0;
}

.onError-txt {
	float: left;
	height: 22px;
	line-height: 22px;
	display: block;
	border: 1px solid #ffc67d;
	border-bottom: 0;
	padding: 0 18px 0 40px;
	background: #fff4e5 url("../../images/register/form_error.png?v=1") 10px center no-repeat;
}

.login_bd .tip{
	margin-top: 22px;
	text-align: center;
	font: normal normal 15px "微软雅黑";
}
.login_bd .tip a{
	color: #c5192f;
	font: normal normal 15px "微软雅黑";
}

.login_bd .inputBody{
	margin: 45px auto;
	
}
.inputBody .inputDiv{
	margin: 22px auto;
}

.logreg-text{
	position:relative;
	padding-left:35px;
	height: 42px;
	width:240px;
	border: 1px solid #ccc;
	overflow: visible;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color: white;
	background-repeat: no-repeat;
	background-position: 6px 10px;
}

.input-userName{
	background-image: url("../../images/pages/userName.png");
}
.input-pwd{
	background-image: url("../../images/pages/pwd.png");
}

.real-input{
	border:none;
	height:100%;
	width:100%;
	overflow: visible;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.codeDiv{
	
}
.input-vc{
	height: 42px;
	width:140px;
	border: 1px solid #ccc;
	overflow: visible;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color: white;
	float: left;
	padding-left: 5px;
}
 
 .yzmImg{
 line-height:44px;
  border: 1px solid #ccc;
	overflow: visible;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color: white;
	margin-left: 22px;
 }
 
 .vc_cont{
 	position:relative;
 	width: 277px;
 	margin: 0 auto;
 }
 
 .loginBtn_bd{
 	text-align: center;
 	margin-top: 25px;
 }

.loginBtn {
	width: 129px;
	height: 49px;
	line-height: 48px;
	background: url("../../images/btn/loginBtn.png") no-repeat;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	color: #fff;
	margin-right: 10px;
	font-family: "微软雅黑";
}

.quick-link{
	position:relative;
	margin: 0 auto;
	width: 276px;
}
#cheboxTKTip{color:#f00;padding-left:5px;display:none; }
