<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:jdbc="http://www.springframework.org/schema/jdbc"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
	<!-- <aop:aspectj-autoproxy /> -->
    <bean id="propertyConfigurer"  class="com.xingyou5.module.base.common.PropertyPlaceholderConfigurer" lazy-init="false">
        <property name="locations">
            <list>
                <!--相同的键会优先取下面的配置文件  -->
          		<value>classpath:5xyfront.properties</value>
            	<!-- <value>classpath:user.properties</value>
                <value>classpath:base.properties</value> -->
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
    </bean>  
    
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <!--相同的键会优先取上面的配置文件  -->
                <value>messages</value>
                <value>exceptions_yipinBase</value>
                <value>exceptions_yipinContent</value>
                <value>exceptions_yipinOrder</value>
                <value>exceptions_yipinFrontWeb</value>
            </list>
        </property>        
    </bean>
     <bean id="taskExecutor4Send"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<!-- <property name="maxPoolSize" value="5" /> -->
		<!-- <property name="queueCapacity" value="25" /> -->
	</bean>
	
	 <bean id="taskExecutor4Insert"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<!-- <property name="maxPoolSize" value="5" />
		<property name="queueCapacity" value="25" /> -->
	</bean>
    
</beans>
